{% extends "layout.html" %}

{% block content %}
  {% for event in events %}
    <div class="border rounded p-4 mb-5">
      <!-- Blog Header -->
      <div class="d-flex align-items-center m-0 p-0">
          <!-- Profile Pic -->
          <!-- Name and Date -->
          <div class="d-flex flex-column w-100 justify-content-between m-0 p-0">
              <div class="d-flex justify-content-between">
                  <span class="text-muted">Date : {{ event.datetime.strftime("%Y-%m-%d %H:%M") }}</span>
                  <!-- <span class="text-muted">{{ event.start_time }}</span>
                  <span class="text-muted">{{ event.end_time }}</span> -->
                  <!-- <a class="btn btn-warning">Start Login</a> -->
              </div>
          </div>
      </div>

      <!-- Separation line -->
      <hr class="my-3">

      <!-- Blog Content -->
      <div class="blog-content">
          <h2><a class="mb-3" href="{{ url_for('event', event_hash=event.hash) }}">{{ event.title }}</a></h2>
          <p class="article-content">{{ event.description }}</p>
      </div>
    </div>


  {% endfor %}
{%endblock content%}