{% extends "layout.html" %}

{% block content %}
<a class="btn btn-info" href="{{url_for('create_event')}}">Create event</a>

  {% for event in events %}
    <div class="border rounded p-4">
      <!-- Blog Header -->
      <div class="d-flex align-items-center m-0 p-0">
          <!-- Profile Pic -->
          <!-- Name and Date -->
          <div class="d-flex flex-column w-100 justify-content-between m-0 p-0">
              <div class="d-flex justify-content-between">
                  <span class="text-muted">{{ event.date }}</span>
                  <a class="btn btn-warning">Start Login</a>
              </div>
          </div>
      </div>

      <!-- Separation line -->
      <hr class="my-3">

      <!-- Blog Content -->
      <div class="blog-content">
          <h2><a class="mb-3" href="#">{{ event.title }}</a></h2>
          <p class="article-content">{{ event.description }}</p>
      </div>
    </div>


  {% endfor %}
{%endblock content%}