{% extends "layout-divided.html" %}
{% block content %}

<div class=" container d-flex align-items-center py-4 bg-body-tertiary mt-5">
    <div class="content-section col-md-12">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom fw-bold mb-4">RSVP | {{event.title}}</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label")}}


                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check mt-3">
                    {{ form.attending.label(class="form-check-label") }}
                    {{ form.attending(class="form-check-input") }}

                </div>

            </fieldset>
            <div class="form-group mt-3">
                {{ form.submit(class="btn btn-outline-dark") }}
            </div>
        </form>
    </div>
</div>
{% endblock content %}


{%block sidebar%}
<div class="content-section mt-5">
    <h3>QR Code</h3>
    {% if qr_code_data%}
        <img src="data:image/png;base64,{{ qr_code_data }}" alt="QR Code">
    {%endif%}
</div>

{%endblock%}